.NavBar {
  width: 100%;
  height: 10%;
  position: fixed;
  bottom: 0;
  z-index: 1;
  border-radius: 10px;
  background: #6c8370;
}

.ButtonContainer
{
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  width: 33%;
  height: 100%;
  display: inline-block;
}

.NavBarButton {
  border-radius: 5px;
  color: white; /* Couleur du texte des boutons */
  text-align: center;
  font-family: Asap, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding:15%;
  text-decoration: none; /* Enlève le trait de lien */
}

